{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card my-5">
          <div class="card-header">
            <h3>sign up</h3>
          </div>
          <div class="card-body">
            <form action="{% url 'signin' %}" method="post">
            {% csrf_token %}
            <div class="text-center">
                {% for m in messages %}
                <p class="{{m.tags}}">{{m}}</p>
                {% endfor %}
            </div>
              <div class="mb-1">
                <label>username</label>
                <input type="text" name="username" class="form-control" />
              </div>
              <div class="mb-1">
                <label>password</label>
                <input type="text" name="password" class="form-control" />
              </div>
              <input type="submit" value="signin" class="btn btn-primary w-100 my-2" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}